<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.CloudFirestore" version="4.1.0" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="5.0.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudFirestore" version="1.19.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.10.4" targetFramework="xamarinios10" />
</packages>